@import "utils/variables";
@import "utils/mixin";
@import "layout/header";
@import "layout/footer";
@import "component/button";

@font-face
{
    font-family: 'Oxygen';
    src: url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    
}



body {
 
    height: 100%;
    font-family: 'Oxygen', 'Arial', sans-serif;
}

#product-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.main-container {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 4rem;
}

#product-image-col {
    display: flex;
    justify-content: center;
}