header {
    display: flex;
    justify-content: space-between;

    & .header__logo {
        
        
        & img {
           
            border: 1px solid blue;
        }
    }
 
}

.nav {
    background-color: $color-site;
    width: 100%;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

#navbarSupportedContent {
    @include size-sm-bootstrap {
        max-width: max-content;
    };
    

}
