.btn-adjust {
    height: 26px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}

.row-button {
    height: 25px;
    flex-wrap: nowrap;
    width: 100%;
    // position: relative;
    padding-left: 13px;
}
